/* get rid of vertical scroll bar caused by default margin */

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

